{%extends 'blog/base.html'%}
{%load static %}

{%block content%}

<div class="col-sm-10">
    <h3 class="text-white my-5">About Page</h3>
    <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Et atque quas molestias nobis consequuntur iure cumque laboriosam, perspiciatis repellat dolorem blanditiis, quos, facere totam voluptates est animi quisquam at quo itaque inventore aut iusto?</p>
    <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Non consequuntur laboriosam unde impedit sed accusamus dolor fugiat. Alias, repellendus nulla. Magni iure, vel mollitia iste a expedita beatae, ut, esse nihil qui illum! Totam culpa voluptatum quia aut at nostrum placeat sequi maiores cum iusto labore deleniti, a illum asperiores.</p>
</div>
{%endblock content%}